#main {
    .woocommerce-products-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 60px;

        @media(max-width:1450px) {
            margin-top: 0;
        }


        @media(max-width:992px) {
            margin-top: 120px;
            margin-bottom: 30px;
        }

        @media(max-width:767px) {
            margin-top: 72px;
        }

        // @media(max-width:650px) {
        //     margin-top: 0px;
        // }

        @media(max-width:567px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 50px;
        }


        .breadcrumbs {
            font-size: 14px;
            color: #32B1B6;
            width: 250px;
            text-align: left;
            padding: 0;

            @media(max-width:1024px) {
                // width: auto;
            }

            span {
                a {
                    color: #A5E8DE;
                }
            }
        }

        .title-wrap-archive {
            width: calc(100% - 250px);
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;

            @media(max-width:1024px) {
                width: 100%;
                justify-content: flex-end;
            }


            &::before {
                content: '';
                height: 1px;
                width: 100%;
                background-color: #A5E8DE;
                position: absolute;
                top: calc(50% - 1px);
                left: 0;

                @media(max-width:1024px) {
                    display: none;
                }

                @media(max-width:567px) {
                    display: block;
                    left: -15px;
                }
            }

            h1 {
                font-size: 4rem;
                margin-bottom: 0;
                text-align: center;
                background-color: #fff;
                position: relative;
                padding: 0 10%;
                color: #32B1B6;
                font-family: 'Kaushan Script', cursive;

                @media(max-width:1024px) {
                    padding: 0 15px 0 30px;
                    font-size: 3rem;
                }

                @media(max-width:567px) {
                    font-size: 40px;
                }
            }
        }
    }

    .product-wrap-content {
        display: flex;
        justify-content: space-between;

        @media(max-width:1024px) {
            flex-direction: column;
        }

        .col-left {
            width: 250px;
            padding-right: 30px;

            @media(max-width:1024px) {
                padding-right: 0;
                width: 100%;
            }

            #secondary {
                h3.berocket_ajax_group_filter_title {
                    background-color: #DAA070;
                    color: #fff;
                    font-size: 18px;
                    line-height: 24px;
                    padding: 20px 15px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-bottom: 30px;

                    @media(max-width:1024px) {
                        padding: 10px;
                    }
                }

                .berocket_inline_filters {
                    @media(max-width:1024px) {
                        padding-right: 0 !important;
                        float: auto !important;
                    }

                    &.berocket_single_filter_widget {
                        .bapf_sfilter {
                            margin-bottom: 30px;

                            .bapf_head {
                                h3 {
                                    text-transform: uppercase;
                                    font-size: 18px;
                                    line-height: 24px;
                                    text-align: center;
                                    margin-bottom: 30px;
                                    color: #373531;
                                    font-weight: normal;
                                    border: 0;
                                    padding-bottom: 0;
                                }
                            }

                            .bapf_body {
                                position: relative;
                                &:after {
                                    content: url(/app/themes/maleo_shop/assets/src/img/icons/icon-arrow-down.svg);
                                    display: block;
                                    height: 30px;
                                    width: 30px;
                                    position: absolute;
                                    top: 50%;
                                    right: -10px;
                                    transform: translateY(-50%);
                                    z-index: -1;
                                }
                                ul {
                                    padding: 0;
                                    margin: 0;

                                    @media(max-width: 1024px) {
                                        display: flex;
                                        justify-content: space-between;
                                        flex-wrap: wrap;
                                    }

                                    li {
                                        font-size: 18px;
                                        line-height: 24px;
                                        margin-bottom: 20px !important;

                                        @media(max-width: 1024px) {
                                            margin-right: 15px !important;
                                        }



                                        label {
                                            font-size: 18px;
                                            line-height: 24px;
                                            margin: 0;

                                            span.bapf_clr_span {
                                                border: 1px solid #ECEBEA;
                                                overflow: unset;
                                                width: 14px !important;
                                                height: 14px !important;
                                                margin-right: 15px;

                                                &::after {
                                                    content: '';
                                                    display: block;
                                                    width: 20px;
                                                    height: 20px;
                                                    background-color: transparent;
                                                    border: 1px solid #ECEBEA;
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    transform: translate(-50%, -50%);
                                                    z-index: -1;
                                                }
                                            }
                                        }

                                        input {
                                            border: 1px solid #ECEBEA;
                                            margin: 0 15px 0 0;
                                        }


                                        &.checked {
                                            label {
                                                color: #DAA070;

                                                span.bapf_clr_span {
                                                    transform: rotate(0deg);

                                                    &::after {
                                                        box-shadow: 0 0 10px #DAA070;
                                                        // transform: rotate(0);
                                                    }
                                                }
                                            }
                                        }

                                    }
                                }



                                .bapf_slidr_all {

                                    .irs--square {
                                        .irs-handle {
                                            width: 0;
                                            height: 0;
                                            border-left: 10px solid transparent;
                                            border-right: 10px solid transparent;
                                            border-bottom: 10px solid #DAA070;
                                            border-top: 0;
                                            -webkit-transform: rotate(0deg);
                                            -ms-transform: rotate(0deg);
                                            transform: rotate(0deg);

                                            &.from {
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(90deg);
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(90deg);
                                                margin-left: -5px;
                                                margin-top: 2px;
                                                background-color: transparent;
                                            }

                                            &.to {
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(90deg);
                                                -webkit-transform: rotate(90deg);
                                                -ms-transform: rotate(90deg);
                                                transform: rotate(-90deg);
                                                margin-left: 5px;
                                                margin-top: 2px;
                                                background-color: transparent;
                                            }
                                        }

                                        .irs-bar {
                                            background-color: #373531;
                                            height: 1px;
                                        }

                                        .irs-line {
                                            height: 1px;
                                        }

                                        .irs {

                                            .irs-from,
                                            .irs-to {
                                                background-color: #DAA070;
                                                padding: 3px 4px 3px;
                                            }


                                        }
                                    }


                                }
                            }
                            &.bapf_slidr {
                                .bapf_body {
                                    &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .col-right {
            width: calc(100% - 250px);

            @media(max-width:1024px) {
                width: 100%;
            }


            .woocommerce-pagination {
                float: left;

                ul.page-numbers {
                    padding: 0;
                    margin-left: 170px;
                    display: flex;
                    height: 60px;
                    align-items: center;

                    @media(max-width:1440px) {
                        margin-left: 70px;
                    }

                    @media(max-width:1024px) {
                        margin-left: 0;
                    }

                    li {
                        list-style: none;
                        padding-right: 7.5px;
                        font-size: 18px;
                        color: #373531;

                        a {
                            color: #373531;
                        }

                        span {
                            &.current {
                                color: #32B1B6;
                            }
                        }
                    }
                }
            }

            .woocommerce-ordering {
                select.orderby {
                    display: block;
                    font-size: 18px;
                    text-transform: uppercase;
                    color: #373531;
                    line-height: 24px;
                    min-width: 235px;
                    height: 60px;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    margin: 0;
                    border: 1px solid #ECEBEA;
                    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: #fff;
                    text-align: center;

                    @media(max-width:1024px) {
                        font-size: 14px;
                        padding: 10px;
                        min-width: auto;
                        height: unset;
                        line-height: auto;
                    }

                    @media(max-width:567px) {
                        width: 100%;
                    }

                    &:focus-visible {
                        outline: -webkit-focus-ring-color auto 0px;
                    }

                    option {
                        &:not(:checked) {
                            background-color: #fff;
                        }
                    }
                }
            }

            .woocommerce-result-count {
                display: none !important;
            }

            select.orderby {
                float: right;
            }



            ul.products {
                clear: both;

                &.columns-4 {
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 50px 30px;
                    display: grid;
                    padding-top: 30px;
                    padding-left: 0;
                    margin-left: 170px;

                    @media(max-width:1024px) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px 15px;
                    }

                    @media(max-width:450px) {
                        grid-template-columns: 1fr;
                    }

                    li.product {
                        list-style: none;
                    }
                }

                &.columns-3 {
                    padding-top: 30px;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 40px 30px;
                    display: grid;
                    padding-left: 0;
                    margin-bottom: 80px;
                    margin-left: 170px;

                    @media(max-width:1440px) {
                        margin-left: 70px;
                    }


                    @media(max-width:1199px) {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px 15px;
                        margin-left: 0;
                    }

                    @media(max-width:576px) {
                        grid-template-columns: 1fr;
                    }

                    li.product {
                        list-style: none;
                        position: relative;
.star-rating {
    display: none;
}


                    }
                }
            }
        }
    }
}



.wishlist-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 30px;

    @media(max-width:1450px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media(max-width:1024px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 15px;
    }

    @media(max-width:576px) {
        grid-template-columns: 1fr;
    }

    .yith-wcwl-item {
        .product-thumbnail {
            position: relative;

            .remove_from_wishlist.button {
                position: absolute;
                bottom: 15px;
                right: 15px;

                img {
                    background-color: transparent !important;
                }
            }
        }

        .product-info {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 15px;

            .product-name {
                a {
                    color: #373531;
                }
            }
        }
    }

    .no-product-in-whislist {
        font-size: 16px;
    }
}



.wpawg-image-popup i, .wpawg-video-popup i {
    margin-right: 10px;
}

img.zoomImg {
   @media(max-width:576px) {
    display: none!important;
   }
}


form.woocommerce-ResetPassword {
    &.lost_reset_password{
        display: flex;
        flex-direction: column;
        align-items: center;
        p.form-row-first {
            display: flex;
            flex-direction: column-reverse;
            label {
                text-align: center;
            }
            input {
    border: 1px solid #ecebea;
    background-color: white;
    margin: 15px 0 5px;
            }

        }
        button {
            font-size: 18px;
            background-color: #6a5d6b;
            padding: 9px 18px;
            color: white;
            margin: 20px auto;
            display: block;
            border: 1px solid #6a5d6b;
            transition: 0.5s;
            &:hover {
                background-color: white;
                color: #6a5d6b;
                border: 1px solid #6a5d6b;
            }
        }
    }
}

.woocommerce-notices-wrapper {
    ul {
        padding-left: 0;
        list-style: none;
    }
}



// David's code start
.info-image__title.right {
	position: relative;
	z-index: 1;
}


	@media(max-width: 767px) {
		.dropdown-menu {
		background-color: #313437;
			}
	}

.header-logo{
	height: 90px;
    max-width: 240px;
    object-fit: contain;
}


@media(max-width:767px) {
	.header-logo{
		max-width: 160px;
		height: auto;
	}
}

@media (max-width: 767px){
	.basic .woocommerce .woocommerce-cart-form__cart-item .product-thumbnail img {
    max-width: 100px;
    height: 120px;
    max-height: 120px;
    margin-top: -50px;
}
.basic tbody .woocommerce-cart-form__cart-item .product-remove {
    display: unset;
    margin-top: unset;
    margin-bottom: unset;
    margin-right: unset;
    margin-left: unset;
	}

.basic tbody .woocommerce-cart-form__cart-item .product-remove a{
		margin-top: -15px;
    margin-left: -9px;
	}

}



#main .product-wrap-content .col-right .woocommerce-pagination ul.page-numbers li span.current {
    color: #ffffff;
    border: 1px solid #32b1b6;
    background: #32b1b6;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: bold;
    width: 25px;
    height: 25px;
}

#main .product-wrap-content .col-right .woocommerce-pagination ul.page-numbers li {
    list-style: none;
    padding-right: 15px;
    font-size: 18px;
    color: #373531;
}

main.basic .container a {
	color: #32b1b6;
	transition: .2s linear;
}

main.basic .container a:hover {
	color: #daa070;
}

button.button.alt {
	font-size: 18px;
    background-color: #6a5d6b;
    padding: 9px 18px;
    color: white;
    margin: 20px auto;
    display: block;
    border: 1px solid #6a5d6b;
    transition: 0.5s;
    @media(max-width:576px) {
        font-size: 14px;
    }
}

button.button.alt:hover {
background-color: white;
    color: #6a5d6b;
    border: 1px solid #6a5d6b;
}


@media (max-width: 576px) {
	.single-product-class .woocommerce-variation-add-to-cart button {
    font-size: 14px!important;
}
}


#kamienie section.kamienie-section .repeater-kamienie-single .columns-wrapper-kamienie .column-left-kamienie img.image-single-kamienie-repeater {
	height:100%!important;
}

@media (max-width: 450px){
#primary .single-product-class .woocommerce-variation-add-to-cart {
    width: 100%;
    min-width: auto;
	}}

section.info-clothers .accordion-menu ul.acordeon-wrapper-list li.content-list-acordeon .arrow {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 6px;
    right: 0;
}

section.info-clothers .accordion-menu ul.acordeon-wrapper-list li.content-list-acordeon {
    margin-top:15px;
}

@media (min-width:992px){
	.single-product-class form .added_to_cart {
    min-width: 450px;
}
}

@media (min-width:510px) and (max-width:992px){
	.single-product-class form .added_to_cart {
    min-width: 500px;
}
}

@media (max-width:992px){
	.basic .content .col-lg-6 #order_review_heading {
    margin-top:unset;
}
}

@media (max-width:500px){
	.woocommerce-cart-form__cart-item .product-thumbnail {
		padding-right:20px;
	}
}

.woocommerce-cart-form__cart-item  .product-quantity .qty{
	width:50px;
}

// .single-product-class .slider .slick-prev{
// 	background-image:unset;
// }

// .single-product-class .slider .slick-next{
// 	background-image:unset;
// }

// .single-product-class .slider .slick-prev:before {
//     border: 1px solid white;
//     padding: 13px;
//     border-radius: 100%;
//     background-color: #80808017;
  
// }

// .single-product-class .slider .slick-next:before {
//     border: 1px solid white;
//     padding: 13px;
//     border-radius: 100%;
//     background-color: #80808017;
   
// }


// .single-product-class .slider .slick-next {
//     background-image:unset;
// }

@media (max-width:500px){
	.single-product-class #related-products {
		padding-top:0px;
	}
}


// .woocommerce-breadcrumb {
//     display: flex;
//     color: #32b1b6;
//     margin-top: 100px;
//     width: 50%;
//     font-size: 10px!important;
// }

// Davis's code end



.slick-track .woocommerce-Price-currencySymbol {
    display: none;
}

.products {
    .woocommerce-loop-product__link {
        .woocommerce-Price-currencySymbol {
            display: none;
        }
    }
}

// new gallery 

.woocommerce-product-gallery__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 7.5px;

    .woocommerce-product-gallery__image {
      height: 100%;
      width: 50%;
      padding: 0 7.5px 15px;
      box-sizing: border-box;

      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }

      &:first-child {
        width: 100%;

        img {
          height: 100%;
        }
      }
    }
  }


  .entry-summary .product_meta .posted_in {
    display: none;
}



.top-page-slingle {
    display: flex;
    justify-content: space-between;
    position: relative;
    @media(max-width:991px) {
        flex-direction: column;
        margin-top: 60px;
    }
    @media(max-width:579px) {
        margin-top: 30px;
    }
    &:before {
        content:'';
        width: 100%;
        height: 1px;
        display: block;
        background-color:#32b1b6;
        position: absolute;
        top: 50%;
        left: 0;
        @media(max-width:991px) {
            display: none;
        }
    }



    .breadcrumbs_single_product {
        text-align: left;
        font-size: 14px;
        background-color: white;
        padding-right: 15px;
        color: #32b1b6;
        text-transform: lowercase;
        @media(max-width:576px) {
            display: none;
        }

        a {
            color: #a5e8de;
            font-size: 14px;
        }
    }
.cat_name_single_container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    @media(max-width:1199px) {
        justify-content: flex-end;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: -15px;
            height: 1px;
            background-color:#32b1b6;
            top: 50%;
        }

    }
    @media(max-width:1024px) {
        width: 100%;
    }



    .cat_name_single {
        font-size: 4rem;
        font-family: "Kaushan Script", cursive;
        font-weight: 400;
        line-height: 1;
        text-transform: lowercase;
        color: #32b1b6;
        background-color: white;
        position: relative;
        z-index: 1;
        padding: 0 60px;
        display: flex;
        align-items: center;
        @media(max-width:1440px) {
        padding: 0 30px;
        font-size: 3rem;
        }
        @media(max-width:1199px) {
            padding: 0 0 0 15px;
        }
        @media(max-width:769px) {
            font-size: 52px
        }
        @media(max-width:576px) {
            font-size: 32px
        }
    }
}
}




// ------------- Reviews -----------------------

#reviews {
    width: 100%;
    padding: 0 30px;
    margin: 30px 0;
    @media(max-width:992px) {
        padding: 0 15px;
    }
    #comments {
      h2.woocommerce-Reviews-title {
        color: #32b1b6;
        font-family: "Kaushan Script";
        font-size: 25px;
        margin-bottom: 40px;
      } 
      ol.commentlist {
          padding: 0;
          margin: 0; 
          list-style: none; 

          li.review {
              margin-bottom: 30px;
              .comment_container {
                  img.avatar {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      display: none;
                  }
                  .comment-text {
                      p.meta {
                        font-size: 14px;
                        strong.woocommerce-review__author {
                            font-size: 18px;
                        }
                      }
                      .description {
                          font-size: 18px;
                          font-style: italic;
                      }
                  }
              }
          }
      } 

      nav.woocommerce-pagination {
        ul.page-numbers {
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
           li {
               padding: 5px;
               a {
                   color: #32B1B6;
                   transition: .2s linear;
            &:hover 
            {
                color: #DAA070;
            }
               }
           } 
        }
      }
    }
    #review_form_wrapper {
      #review_form {
           .comment-respond {
               span.comment-reply-title {}
               form#commentform {
                max-width: 50%;
                display: block;
                @media(max-width:991px) {
                    max-width: 100%;
                }
                textarea {
                    border: 1px solid #ccc;
                }
                input#author, input#email  {
                    border: 1px solid #ccc;
                }
            }
            input#submit {
                width: 100%;
                border: 1px solid #6a5d6b;
            }
           }

       } 
    }
}


// Noptin newsletter start ----------------------------------------

form#noptin-form-1 {
    &:last-child {
        display: none;
    }

    .noptin-form-fields {
        #noptin-form-1__field-consent__wrapper {
            display: flex;
            font-size: 13px;
            a {
                display: inline-block;
                color: #DAA070;
                transition: .2s linear;
                &:hover {
                    color: #313437;
                }
            }
            input#noptin-form-1__field-email {
                height: auto;
                margin-bottom: 0;
            }
        }
        #noptin-form-1__submit_button_wrapper {
            display: flex;
            justify-content: flex-end;
            button#noptin-form-1__submit {
                border: none;
                background-color: transparent;
                height: 45px;
                margin-bottom: 0;
                padding-left: 45px;
                margin-left: -40px;
                display: flex;
                align-items: flex-end;

                &:before {
                    content: "";
                    width: 45px;
                    height: 45px;
                    display: block;
                    background-image: url(../../src/img/icons/btn_arrow-right.svg;);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    margin-right: 5px;
                    transition: .2s linear;
                }
                &:hover {
                    &:before {
                        transform: rotate(270deg);
                    }
                }
            }
        }
    }

    .noptin-error {
        color: red;
        background-color:#daa0706e;
        border:none;
        font-size: 14px;
    }
    .noptin-success {
        font-size: 14px;
    }
}


// Noptin newsletter end ----------------------------------------


// ------------------- star rating --------------------------

.single-product-class .star-rating, .single-product-class p.stars [class^="star-"], .single-product-class p.stars [class*=" star-"] {
	font-family: WooCommerce;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
}
.single-product-class .star-rating {
	overflow: hidden;
	position: relative;
	height: 1em;
	width: 5em;
    margin-bottom: 5px;
}
.single-product-class .star-rating:before {
	content: "\e021\e021\e021\e021\e021";
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	color: #999;
}
.single-product-class .star-rating span {
	overflow: hidden;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	padding-top: 1.5em
}
.single-product-class .star-rating span:before {
	content: "\e020\e020\e020\e020\e020";
	top: 0;
	position: absolute;
	left: 0;
	color: #daa070;
}
/* rating block specific to single product summary area */
.single-product-class .woocommerce-product-rating {
	display: flex;
    flex-direction: column;
	width: 100%;
}
.single-product-class .woocommerce-product-rating .star-rating {
	// margin: 0 auto;
	float: left;
	font-size: 1em;
}
.single-product-class .woocommerce-product-rating .woocommerce-review-link {
	font-size: 85%;
	width: 100%;
	margin: 0.5em 0;
	float: left;
    color: #6a5d6b;
}
/* rating block specific to review submit form */
.single-product-class p.stars {
	position: relative;
	padding: 0.75em;
}
.single-product-class p.stars a {
	display: inline-block;
	margin-right: 1em;
	text-indent: -9999px;
	position: relative;
	border-bottom: 0!important;
	outline: 0;
	color: #999;
}
.single-product-class p.stars a:hover, .single-product-class p.stars a.active {
	color: #daa070;
}
.single-product-class p.stars a:last-child {
	border-right: 0
}
.woocommerce p.stars [class^="star-"], .single-product-class p.stars [class*=" star-"] {
	border-right: 1px solid #ccc
}
.single-product-class p.stars [class^="star-"]:after, .woocommerce p.stars [class*=" star-"]:after {
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0
}
.single-product-class p.stars a.star-1 {
	width: 2em
}
.single-product-class p.stars a.star-1:after {
	content: "\e021"
}
.single-product-class p.stars a.star-1.active:after, .single-product-class p.stars a.star-1:hover:after {
	content: "\e020"
}
.single-product-class p.stars a.star-2 {
	width: 3em
}
.single-product-class p.stars a.star-2:after {
	content: "\e021\e021"
}
.single-product-class p.stars a.star-2.active:after, .single-product-class p.stars a.star-2:hover:after {
	content: "\e020\e020"
}
.single-product-class p.stars a.star-3 {
	width: 4em
}
.single-product-class p.stars a.star-3:after {
	content: "\e021\e021\e021"
}
.single-product-class p.stars a.star-3.active:after, .single-product-class p.stars a.star-3:hover:after {
	content: "\e020\e020\e020"
}
.single-product-class p.stars a.star-4 {
	width: 5em
}
.single-product-class p.stars a.star-4:after {
	content: "\e021\e021\e021\e021"
}
.single-product-class p.stars a.star-4.active:after, .single-product-class p.stars a.star-4:hover:after {
	content: "\e020\e020\e020\e020"
}
.single-product-class p.stars a.star-5 {
	width: 6em;
}
.single-product-class p.stars a.star-5:after {
	content: "\e021\e021\e021\e021\e021"
}
.single-product-class p.stars a.star-5.active:after, .single-product-class p.stars a.star-5:hover:after {
	content: "\e020\e020\e020\e020\e020"
}
/* rating block specific to product listing */
.single-product-class ul.products li.product .star-rating {
	display: block;
	text-align: center;
	margin: 0 auto;
}
/* rating block specific to sidebar widgets */
.single-product-class ul.cart_list li .star-rating, .single-product-class ul.product_list_widget li .star-rating {
	display: block;
	text-align: center;
	margin: 0 auto;
}

// email veryfication
.alg-wc-ev-verification-status {
    font-size: 16px;
    margin: 15px 0;
    strong {
        font-weight: 600;
        background-color: green;
        padding: 0 10px;
        color: #FFFFFF;
    }
}

.woocommerce-message {
    text-align: center;
    max-width: 991px;
    margin: 0 auto 30px;
    font-size: 16px;
    border: 1px solid #a5e8de;
    padding: 10px;
}

.woocommerce-error {
    text-align: center;
    max-width: 991px;
    margin: 0 auto 30px;
    font-size: 16px;
    border: 1px solid red;
    padding: 10px;
}

